
#body { 
    max-width: 100%;
  }
  
  #title { 
    font-family:'Courier New', Courier, monospace
    }
  
  #CarMeet { 
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(38, 0, 255));
     text-align: center; 
     margin:0px;
     color: white;
     justify-content: center;
  }
  
  #CarMeet:hover { 
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(38, 0, 255));
     text-align: center;    
     color: white;
     justify-content: center;
  }

  .CarMeet { 
    position: fixed;
    width: 1900px;
    text-align: center;
    z-index: 1;
  }
  
  
  .menu { 
    color: rgb(0, 0, 0); 
    list-style: none;
    padding: 5px;
    font: bold 14px verdana ;
    display : inline-block;
    margin-left: auto;
    list-style:inside;
    list-style-type:georgian;
    background-position: 100px;
    text-decoration:solid;
    text-transform: unset;
  }
  
  #ImagenUno { 
    text-align: left;
    
   }
  
  #Suscribirse {
    color: rgb(255, 255, 255);
    text-align: right;
    font-style: italic;
  }
  
  #fondo {
    background-color: rgb(124, 124, 124);
    text-align: center;
  }
  
   #fot {
    margin-right: 20px;
  
  } 
  
  .TextoAuto {
    text-decoration: underline; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #menuUno { 
    margin-top: 25%;
    
   }
  
  
  #pregunta {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
    letter-spacing: 1px;
    text-decoration: underline;
    font-family: 'Style Script', cursive;
    font-size: 30px;
    margin-top: 20px;
    
  }
  
  .derechos {
    text-align: right;
     color: white;
  }
  
  #ImagenDos { 
    text-align: right;
    padding: auto;
   }
  
   .columna {
    width: 600px;
    font-weight: bold;
    float: right;
    font-style: oblique ;
    margin: 50px 0;
    background-size: contain;
    border: rgb(0, 0, 0) 5px solid;
    margin-right: 50px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0.562)); 
    transition: 2s all;
  }

  .columna:hover {
    -webkit-transform: rotate(360deg); 
    -ms-transform: rotate(360deg);      
    transform: rotate(360deg);
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0.562)); 
}

  
  
  #Suscribirse  { 
    text-transform: uppercase;  
    color: rgb(0, 0, 0);
   }
  
  #depositarr { 
    text-transform: uppercase;
    background-image: url(./a.png);
    
   }
  
  .a { 
    background-color: rgb(124, 124, 124);
    
   }
  
   .comprar { 
    background-color: rgb(255, 255, 255);
    
   }
  
  .cuenta { 
    text-transform: uppercase;
    background-image:url(./fondogris.png);
    margin-top: 0px;
    height: max-content;
    margin-left: 400px;
    margin-top: 100px;
  
   }
  
  #supercars { 
    height: 43vh;
    width: 40vw;
    margin-left: 200px;
   }
  
  #CuentaUno  {
    text-align: center;
    border: black solid;
    background-color: rgb(255, 255, 255);
    height: 50vh;
    width: 34vw;
    
  }
  
  #gtr { 
    width: 850px;
    font-weight: bold;
    float: left;
    font-style: italic ;
    background-image: url(./ruta2.jpg) ;
  }
  
  .autos { 
    text-align: center;
    
  }
  
  #rueda { 
    max-width: 4%; 
  }
  
  
  #estilos{ 
    text-transform: uppercase;
    font-style:initial;
    font-weight: 400px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20%;
    word-spacing: normal;
    color: white;
   }
  
   #estilosUno{ 
    text-transform: uppercase;
    font-style:initial;
    font-weight: 400px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20%;
    word-spacing: normal;
    color: rgb(0, 0, 0);
   } 
  
   #CuentaDiez  {
    text-align: left;
    border: black solid;
    margin-top: 40px;
    height: 46.2vh;
    width: 40vw;
    margin-left: 60px;  
  }
  
  
  
  .borde { 
    width: 600px;
    border: solid black;
    color: white;
  
   }
  
   
  
   #descripcion { 
    color: white;
  }
  
  
  #HR { 
    border: 5px black solid;
    
   }
  
   #imagenfiesta:hover { 
    display: block;
    flex-direction:row-reverse;
   }
  
  
  #menu { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    width: auto ;
    font-weight: bold;
    font-style: oblique ;
    margin: 60px 0;
  
  
  }
  
  #DivGrande { 
    display: contents;  
    color: black;
   }
  
  
  
  #sky {
   text-align: center;
  }
  
  #comentarios {
    color: black;
    text-align: center;
   }
  
   .derechoss {
    text-align: right;
     color: rgb(0, 0, 0);
  }
  
  
  #ingresar:hover {  
    font-size: 20px;
    display: block;
    background-image: url(./fondo16.jpg);
    position: relative;
    color: white;
    
   }
  
   
  
   ul li li {  
    position:relative;
    display:list-item ;
   }
  
   #fondos {
    background-image: url(./a1.png);
  
  }
  
  
   #motor1 { 
    max-width: 100%;
    width: auto;
    height: auto;
  
  }
  
  #div { 
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: rgb(0, 4, 255);
    color: white;
    justify-content: end;
    text-align: center;
    text-transform: capitalize;
    
  }
  
  
  
  .item {  
   border: solid 1px rgb(0, 0, 0);
   font-size: 21px;
   padding: 5px;
   background-color: rgba(136, 136, 136, 0.993);
   align-items: stretch;
   justify-content: stretch;
   color: white;
  }
  
  
  
  header { 
  grid-area: "header";
  }
  #home { 
   grid-area: "home";
  }
  #about { 
    grid-area: "about";
   }
   nav { 
    grid-area: "nav";
   }
   aside { 
    grid-area: "aside";
   }
  footer { 
    grid-area: "footer";
   }
  
  /* @media only screen and (min-width: 320px) { 
    .body { 
      width: 320px;
     }
   }
  
   @media only screen and (min-width: 480px) { 
    .body { 
      width: 480px;
     }
   }
  
   @media only screen and (min-width: 600px) { 
    .body { 
      width: 500px;
     }
   } */

   .bodyDos { 
    padding: 100px;
   }
  
   .porsche { 
    max-width: 30%;
   }
  
   
   #mercedez { 
    max-width: 20%;
   }
   #bmw { 
    max-width: 10%;
    margin-left: 10px;
   } 
  
  .spinner-border { 
    margin-left: 40px;
   }
  
  @media screen and (max-width:600px) { 
    #body { 
      width: 100%;
      background-image: url(./negro.jpg);
     }
   }
  
   .AutosTres{ 
    max-width: 100%;
   } 
  
   .contein{ 
      max-width: 30%;
      margin-left: 60px;
      
   }
  
   .conteinUno{ 
    max-width: 30%;
    margin-left: 40%;
    
  }
  
  #venta { 
    text-align: center;
    background-color: black;
    color: white;
   }
  
  
  
  #bot  { 
     background-color: black;
     color: white; 
     transform: none;
     text-decoration: none;  
      }
  
  .padre { 
    margin-left: 100px;
    width: 1500px;  
    transition: width 3s, height 3s;
    
   }
  
   .padre:hover{ 
    width: 1700px;
   }
  
  
  .padreUno { 
    margin-left: 40px;
    width: 800px;
    
  }
  
  .Principio { 
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 34, 128));
    }
  
.carta { 
    width: 1200px;
    margin-left: 30px;
    background-color: #D62100;
    background: linear-gradient(to top, #D62100, rgb(0, 0, 0), white);
    text-align: center;
    padding: 30px;
    }
  
    /* .AutosTunning { 
      width: 700px;
      max-width: 100%;
      margin-left: 10px;
    } */
  
    #skyline { 
      width: 1140px;
      background: linear-gradient(to top, rgb(0, 68, 255),  rgb(2, 216, 245) );
      color: black;
      margin-left: 20px;
      text-decoration: solid;
    }
  
    .columnaUno {
      width: 700px;
      font-weight: bold;
      float: right;
      font-style: oblique ;
      margin: 26px ;
      background-size: contain;
      margin-right: 0px; 
    }
    
  /* 
    #fijo {
      position: fixed;
    } */
  /* 
    @media only screen and (max-width: 1000px) { 
      .autos { 
        width: 40px;
       }
     } */
  
  .card  { 
    text-align: left;
    
    }
  
    @media only screen and (max-width: 1300px) { 
      .card { 
        width: 300px;
        max-width: 100%;
       }
     } 
  
   .bmw { 
     margin-left: 30px;
     margin-right: 1000px;
     }
     
    .autos { 
      background-color: #5A5A5D;
     }
